# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Secrets & tokens
.env
*.env
*.pickle
*.token
credentials.json
access_token.json
token.json
google_token.pickle
miscellenous
Start

/storage
